<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 500px;
            margin: 0 auto;
        }

        .login-form {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom border-primary text-dark">
        <span class="fs-4">Login Page</span>
    </header>
</div>

<div class="container py-4">

    <div class="login-form">
        <h1>Login</h1>
        <form th:action="@{/authenticate}" method="post" id="loginForm">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <p th:id="message" class="text-danger"></p>
        </form>
    </div>

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        if (email === "" || password === "") {
            document.getElementById('message').innerText = "Please enter both email and password.";
            return;
        }
        var data = {email: email, password: password};
        fetch("/authenticate", {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        }).then((response) => {
            if (response.status === 200) {
                window.location.replace("http://localhost:8032/reading");
            } else {
                document.getElementById('message').innerText = "Invalid email or password";
            }
        }).catch((error) => {
            console.error('Error:', error);
        });
    });
    /*]]>*/
</script>

</body>
</html>
